@import "./globalStyles/globalStyles.scss";
.App {
   position: relative;

   & .mode-btn {
      position: fixed;
      right: 62px;
      top: 28px;
      z-index: 20;

      & .switch {
         position: relative;
         height: 20px;
         width: 60px;

         & .icon {
            position: absolute;
            font-size: 24px;
            color: #fff;
            top: 1px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            &.sun {
               left: 0;
               opacity: 0;
            }
            &.moon {
               right: 0;
            }
         }
      }

      &.light-mode-btn {
         & .switch {
            & .icon {
               color: $fontColorLightMode;
               transform: translateX(42px);

               &.moon {
                  opacity: 0;
               }
               &.sun {
                  opacity: 1;
               }
            }
         }
      }
   }
}
@media (max-width: 360px) {
   .App {
      & .mode-btn {
         right: 32px;
         & .switch {
            & .icon {
               font-size: 18px;
            }
         }
      }
   }
}
