@import "./globalStyles/globalStyles.scss";
body {
   margin: 0;
   font-family: "Montserrat", sans-serif;
   background-color: $bgColor;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   overflow: auto;
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   -webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-box-shadow: 0 0 0 30px $darkGrey inset !important;
   -webkit-text-fill-color: #fff !important;
}
